* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #245a7c;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.weather-app {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    margin-bottom: 25px;
}

.search {
    display: flex;
    gap: 10px;
}

#cityInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#searchBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#searchBtn:hover {
    background: #ddd;
}

.weather-info {
    margin-top: 25px;
}

#error {
    color: red;
}